# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Environment variables
.env

# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# Logs
*.log

# SQLite database (if you're storing passwords locally)
*.db

# PyInstaller
dist/
build/
*.spec

# Coverage / testing
.coverage
htmlcov/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints